/* Base Styles */
html {
  box-sizing: inherit;
  /*margin-top: 5rem;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  height: 100%;
}

:root {
  /*----color palette----*/
  --color-primary: #000;
  --color-secundary: #FFF;
  --color-blue: #275de9;
  --color-yellow:#f4c753;
  --color-red:#e94626;
  --color-pink:#ee8da7;


  /*----distance units----*/
  --s-99:.1rem;
  --s-2:.2rem;
  --s-4:.4rem;
  --s-1:.5rem;
  --s0:1rem;
  --s1:1.5rem;
  --s2:2rem;
  --s3:3rem;
  --s4:4rem;
  
  /*----font sizes text----*/
  --font-size-r: 1rem;
  --font-size-l: 1.25rem; 

  /*----font sizes titles----*/
  /*size quotes 25px*/
  --font-size-1_5: 1.5rem; 
  /*size h2 35px*/
  --font-size-2: 2.2rem;
  /*size h1 55px*/
  --font-size-3_5: 3.5rem;
  /*size 48px*/
  --font-size-3: 3rem;
}


body {
  background-color: var(--color-primary);
  margin-top:2rem;
}


.p5Canvas {
  /*border: 1px solid white;*/
  /*display: none;*/
}


/*ANIMATON OPTION 1*/
@keyframes flickerAnimation1 {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.starAnimation1 {
  animation: flickerAnimation1 4s infinite;
  position: fixed;
}

/*ANIMATON OPTION 2*/
@keyframes flickerAnimation2 {
  0%    { opacity: 0; }
  30%   { opacity: 1; }
  90%   { opacity: 1; }
  100%  { opacity: 0; }

}
.starAnimation2 {
  animation: flickerAnimation2 3s infinite;
  position: fixed;
}


/*ANIMATON OPTION 3*/
@keyframes flickerAnimation3 {
  0%    { opacity: 1; }
  50%   { opacity: 0.3; }
  /*  80%   { opacity: 0.3; }*/
  100%  { opacity: 1; }

}
.starAnimation3 {
  animation: flickerAnimation3 3s infinite;
  position: fixed;
}


/*ANIMATON OPTION 4*/
@keyframes flickerAnimation4 {
  0%    { opacity: 0.3; }
  40%   { opacity: 1; }
  70%   { opacity: 1; }
  100%  { opacity: 0.3; }

}
.starAnimation4 {
  animation: flickerAnimation4 2s infinite;
  position: fixed;
}



/*ANIMATON OPTION 5*//*
@keyframes flickerAnimation5 {
  0%    { opacity: 0; }
  100%  { opacity: 1; }

}
.starAnimation5 {
  animation: flickerAnimation5 4s;
  position: fixed;
}*/

