/* Base Styles */
html {
  box-sizing: inherit;
  /*margin-top: 5rem;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  height: 100%;
}

:root {
  /*----color palette----*/
  --color-primary: #000;
  --color-secundary: #FFF;
  --color-blue: #275de9;
  --color-yellow:#f4c753;
  --color-red:rgb(233, 70, 38);
  --color-pink:#ee8da7;
  
  /*----font sizes text----*/
  --font-size-s: 0.8rem;
  --font-size-r: 1rem;
  --font-size-l: 3rem; 


}


body {
  background-color: var(--color-primary);
  color: var(--color-secundary);
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

.start {
  display: block;
  width: 42rem;
  margin: 0 auto;
  margin-top: 13rem;
  text-align: center;
  
}
.start__title {
  font-size: var(--font-size-l);
  margin-bottom: 2rem;
}
.start__description {
 /* display: block;
  width: 20rem;
  margin: 0 auto;*/
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 4rem;
}

.start__button {
  cursor: pointer;
  display: inline-block;

  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--color-blue);
  border: var(--color-blue) 0.1rem solid;
  font-family: 'Courier New', Courier, monospace;
}
.start__button:hover {
  background-color: transparent;
}
.start__disclaimer {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  width: 20rem;
  margin: 0 auto;
  margin-top: 10rem;
  font-size: var(--font-size-s);
}


.p5Canvas {
  /*border: 1px solid white;*/
  margin-top: 3rem;
  display: none;
}

/*----------------ANIMATION STARS--------------*/
/*ANIMATON OPTION 1*/
@keyframes flickerAnimation1 {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.starAnimation1 {
  animation: flickerAnimation1 4s infinite;
  position: fixed;
}

/*ANIMATON OPTION 2*/
@keyframes flickerAnimation2 {
  0%    { opacity: 0; }
  30%   { opacity: 1; }
  90%   { opacity: 1; }
  100%  { opacity: 0; }

}
.starAnimation2 {
  animation: flickerAnimation2 3s infinite;
  position: fixed;
}


/*ANIMATON OPTION 3*/
@keyframes flickerAnimation3 {
  0%    { opacity: 1; }
  50%   { opacity: 0.3; }
  /*  80%   { opacity: 0.3; }*/
  100%  { opacity: 1; }

}
.starAnimation3 {
  animation: flickerAnimation3 3s infinite;
  position: fixed;
}


/*ANIMATON OPTION 4*/
@keyframes flickerAnimation4 {
  0%    { opacity: 0.3; }
  40%   { opacity: 1; }
  70%   { opacity: 1; }
  100%  { opacity: 0.3; }

}
.starAnimation4 {
  animation: flickerAnimation4 2s infinite;
  position: fixed;
}



/*ANIMATON OPTION 5*//*
@keyframes flickerAnimation5 {
  0%    { opacity: 0; }
  100%  { opacity: 1; }

}
.starAnimation5 {
  animation: flickerAnimation5 4s;
  position: fixed;
}*/

